/.phpunit.cache
/node_modules
#/public/build
#/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.php-cs-fixer.cache
/phpunit.xml.bak
/tmp/
/storage/reports/

dump.rdb
.dump.rdb

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/.nyc_output/
/coverage/

# npm
package-lock.json

/storage/api-docs
